@use "src/variables" as *;

.step-complete-btn {
  padding: 1rem 2rem 1rem 1rem;
  border-radius: 50px;
  border: none;
  background: $light-orange;
  display: flex;
  align-items: center;
}

.completed-step-check {
  margin-right: 12px;
  color: $red;
}
