@use "src/variables" as *;

/* steps-template */
div {
  p { margin: 2.5rem;}
}

.buttons-container {
  @include grid(.5rem, 33vw 33vw, repeat(4, 5rem), center, unset, center);
}

.step-complete-btn {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1.2rem 1rem;
  border-radius: 5rem;
  background: $light-orange;
  
  @include flex(row, nowrap, center, center, center);
  justify-content: flex-start;
}

.completed-step-check {
  margin-right: 1rem;
  color: $accent-color;
}

.continue-btn {
  padding: 1.2rem;
  margin: 2rem;
  border-radius: .5rem;

  &:disabled {
    background: $gainsboro;
    color: $white;
  }
}

.iframe-holder {
  width: 35rem;
  justify-content: center;
}

iframe {
  height: 32rem;
  margin: 0 0 0 2rem;
  border: none;
}


@include breakpoint('tablet') {
  main {
    @include grid(.5rem, 95vw, auto auto, center, center, center);
    justify-content: center;
  }
}