<div *ngIf="step.stepIndex == 1">
  <h2>Welcome to "Que Comemos Hoy"</h2>
  <p class="text-center"> For a better experience please select your preferences:</p>

  <div class="buttons-container">
      <button *ngFor="let categories of listCategories" class="step-complete-btn" (click)="addType(categories)">
        <span class="completed-step-check material-icons">
              {{ selectedCategories.indexOf(categories) > -1 ? "check_circle" : "panorama_fish_eye"}}
        </span>
        {{ categories }}
      </button>
  </div>
</div>

<div *ngIf="step.stepIndex == 2">
    <p class="text-center">Finally, please select your meal plan</p>
    <div class="buttons-container week">
      <button (click)="selectWeek('toda')" class="step-complete-btn mb-1">
            <span class="completed-step-check material-icons">
              {{
                selectedWeek.indexOf("toda") > -1
                  ? "check_circle"
                  : "panorama_fish_eye"
              }} </span>Toda la semana
      </button>

      <button (click)="selectWeek('Lunes')" class="step-complete-btn mb-1">
        <span class="completed-step-check material-icons">
          {{
            selectedWeek.indexOf("Lunes") > -1 ||
            selectedWeek.indexOf("toda") > -1
              ? "check_circle"
              : "panorama_fish_eye"
          }} </span>Lunes
      </button>

      <button (click)="selectWeek('Martes')" class="step-complete-btn mb-1">
        <span class="completed-step-check material-icons">
          {{
            selectedWeek.indexOf("Martes") > -1 ||
            selectedWeek.indexOf("toda") > -1
              ? "check_circle"
              : "panorama_fish_eye"
          }} </span>Martes
      </button>

      <button (click)="selectWeek('Miércoles')" class="step-complete-btn mb-1">
        <span class="completed-step-check material-icons">
          {{
            selectedWeek.indexOf("Miércoles") > -1 ||
            selectedWeek.indexOf("toda") > -1
              ? "check_circle"
              : "panorama_fish_eye"
          }} </span>Miércoles
      </button>

      <button (click)="selectWeek('Jueves')" class="step-complete-btn mb-1">
        <span class="completed-step-check material-icons">
          {{
            selectedWeek.indexOf("Jueves") > -1 ||
            selectedWeek.indexOf("toda") > -1
              ? "check_circle"
              : "panorama_fish_eye"
          }} </span>Jueves
      </button>

      <button (click)="selectWeek('Viernes')" class="step-complete-btn mb-1">
        <span class="completed-step-check material-icons">
          {{
            selectedWeek.indexOf("Viernes") > -1 ||
            selectedWeek.indexOf("toda") > -1
              ? "check_circle"
              : "panorama_fish_eye"
          }} </span>Viernes
      </button>

      <button (click)="selectWeek('Sábado')" class="step-complete-btn mb-1">
        <span class="completed-step-check material-icons">
          {{
            selectedWeek.indexOf("Sábado") > -1 ||
            selectedWeek.indexOf("toda") > -1
              ? "check_circle"
              : "panorama_fish_eye"
          }} </span>Sábado
      </button>

      <button (click)="selectWeek('Domingo')" class="step-complete-btn mb-1">
        <span class="completed-step-check material-icons">
          {{
            selectedWeek.indexOf("Domingo") > -1 ||
            selectedWeek.indexOf("toda") > -1
              ? "check_circle"
              : "panorama_fish_eye"
          }} </span>Domingo
      </button>
    </div>
</div>

<div *ngIf="step.stepIndex == 3" class="iframe-holder container-center">
  <div (click)="onCompleteStep()">
    <h2>Generating meal plan</h2>
    <iframe src="https://lottiefiles.com/iframe/4762-food-carousel"></iframe>
  </div>
</div>