
<div class="step-template">
  <div *ngIf="step.stepIndex == 1">
    <h2 class="font-bold text-xl uppercase pt-4 text-center">Welcome to "Que Comemeos Hoy"</h2>
    <div class="step-content-label text-center">For a better experience please select your preferences:</div>
    <button *ngFor="let categories of listCategories" class="step-complete-btn  mb-1" (click)="addType(categories)">
        <span class="completed-step-check material-icons">
            {{ selectedCategories.indexOf(categories) > -1 ? 'check_circle' : 'panorama_fish_eye' }}
        </span>{{categories}}
    </button>
  </div>

  <div *ngIf="step.stepIndex == 2">
    <div class="step-content-label">Finally, please select your meal plan:</div>

    <button (click)="selectWeek('toda')" class="step-complete-btn  mb-1">
      <span class="completed-step-check material-icons">
        {{  selectedWeek.indexOf('toda') > -1 ? 'check_circle' : 'panorama_fish_eye' }}
      </span>Toda la semana
    </button>

    <button (click)="selectWeek('lunes')" class="step-complete-btn  mb-1">
      <span class="completed-step-check material-icons">
        {{ selectedWeek.indexOf('lunes') > -1 || selectedWeek.indexOf('toda')> -1 ? 'check_circle' : 'panorama_fish_eye' }}
      </span>Lunes
    </button>

    <button (click)="selectWeek('martes')" class="step-complete-btn  mb-1">
      <span class="completed-step-check material-icons">
        {{ selectedWeek.indexOf('martes') > -1 || selectedWeek.indexOf('toda')> -1 ? 'check_circle' : 'panorama_fish_eye' }}
      </span>Martes
    </button>

    <button (click)="selectWeek('miercoles')" class="step-complete-btn  mb-1">
      <span class="completed-step-check material-icons">
        {{ selectedWeek.indexOf('miercoles') > -1 || selectedWeek.indexOf('toda')> -1 ? 'check_circle' : 'panorama_fish_eye' }}

      </span>Miércoles
    </button>

    <button (click)="selectWeek('jueves')" class="step-complete-btn  mb-1">
      <span class="completed-step-check material-icons">
        {{ selectedWeek.indexOf('jueves') > -1 || selectedWeek.indexOf('toda')> -1 ? 'check_circle' : 'panorama_fish_eye' }}
      </span>Jueves
    </button>

    <button (click)="selectWeek('viernes')" class="step-complete-btn  mb-1">
      <span class="completed-step-check material-icons">
        {{ selectedWeek.indexOf('viernes') > -1 || selectedWeek.indexOf('toda')> -1 ? 'check_circle' : 'panorama_fish_eye' }}
      </span>Viernes
    </button>

    <button (click)="selectWeek('sabado')" class="step-complete-btn  mb-1">
      <span class="completed-step-check material-icons">
        {{ selectedWeek.indexOf('sabado') > -1 || selectedWeek.indexOf('toda')> -1 ? 'check_circle' : 'panorama_fish_eye' }}
      </span>Sábado
    </button>

    <button (click)="selectWeek('domingo')" class="step-complete-btn  mb-1">
      <span class="completed-step-check material-icons">
        {{ selectedWeek.indexOf('domingo') > -1 || selectedWeek.indexOf('toda')> -1 ? 'check_circle' : 'panorama_fish_eye' }}
      </span>Domingo
    </button>

  </div>

  <div *ngIf="step.stepIndex == 3">
    <div (click)="onCompleteStep()">
      <h2 class="font-bold text-xl uppercase pt-4 text-center" >Generating meal plan</h2>
      <iframe style="margin: 0 auto" class="h-80 pt-4 ml-34" src="https://lottiefiles.com/iframe/4762-food-carousel"></iframe>
    </div>


  </div>


</div>
