@use "src/variables" as *;

/* steps-template */
div {
  p { margin: 2.5rem;}
}

.buttons-container {
  @include grid-size(2, 16rem, 4, 5rem, .5rem);
  justify-content: center;
  align-content: center;

  &.week {
    @include grid-size(2, 20rem, 4, 5rem, .7rem);
  }
}

.step-complete-btn {
  font-size: 1.6rem;
  font-weight: bold;

  padding: 1.2rem 2rem;
  border-radius: 5rem;
  background: $light-orange;
  
  @include flex(row, nowrap, center, center, center);
  justify-content: flex-start;
}

.completed-step-check {
  margin-right: 1rem;
  color: $accent-color;
}

.continue-btn {
  padding: 1.2rem;
  margin: 2rem;
  border-radius: .5rem;

  &:disabled {
    background: $light-gray;
    color: $white;
  }
}

.iframe-holder {
  width: 35rem;
  justify-content: center;
}

iframe {
  height: 32rem;
  margin: 0 0 0 2rem;
  border: none;
}


@include breakpoint('tablet') {
  main {
    @include grid-size(1, 95vw, 2, auto, .5rem);
    justify-content: center;
  }
}