@use "src/variables" as *;

article {
  @include grid(1rem, 75vw, auto, center, center, center);
}

.continue-btn {
  color: $white;
  background: $accent-color;
  padding: 2rem;
  border-radius: 5rem;
  font-size: 2rem;
  cursor: pointer;
  margin: 3.2rem;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
