<article>
  <app-steps></app-steps>

  <section>
    <ng-container [ngSwitch]="(currentStep | async)?.stepIndex">
      <ng-container *ngSwitchCase="'1'">
        <app-step-template [step]="(currentStep | async)"></app-step-template>
      </ng-container>
      <ng-container *ngSwitchCase="'2'">
        <app-step-template [step]="(currentStep | async)"></app-step-template>
      </ng-container>
      <ng-container *ngSwitchCase="'3'">
        <app-step-template [step]="(currentStep | async)"></app-step-template>
      </ng-container>
    </ng-container>
  </section>

  <button (click)="onNextStep()" [disabled]="!(currentStep | async)?.isComplete" class="continue-btn red-bg">
    {{ showButtonLabel() }}
  </button>
</article>