@use "src/variables" as *;

.form-page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.continue-btn {
  color: $white;
  background: $accent-color;
  padding: 2rem;
  border-radius: 5rem;
  font-size: 2rem;
  cursor: pointer;
  margin: 3.2rem;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
