@use "src/variables" as *;

img {
  object-fit: cover;
}

h2 { text-align: center; }


#day {
  @include grid(0 1.6rem, repeat(2, 20rem), auto auto, center, center, center);

  h3 {
    grid-row: 1 / 2;
    justify-self: flex-start;
  }
}

.container {
  cursor: pointer;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(6, 5rem);
  $text-color: $white;
  $bg-color: $black;
  box-shadow: $box-shadow;

  color: $text-color;
  border-radius: 2.5rem;
  background-color: $bg-color;

  img {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    @include size(100%, auto);
    justify-self: center;
    border-radius: 2.5rem 2.5rem 0 0;

    //makes image go from 1 opacity to 0 in a gradient!
    mask-image: linear-gradient(to bottom, rgba($black,1), rgba($black,0));
  }

  div {
    padding: 0 1rem;
    grid-column: 1 / 2;
    grid-row: 4 / 6;
    z-index: 1;

    border-radius: 0 0 2.5rem 2.5rem;
    @include grid(0, auto 3rem, auto, center, flex-start, center);

    h4 {
      grid-column: 1 / 3;
      margin: 0;
      color: $text-color;
      justify-self: flex-start;
    }
  
    p {
      font-size: 1.4rem;
      grid-column: 1 / 2;
    }
  
    p.bold {
      grid-column: 1 / 3;
    }
  
    .diff {
      &.low {
        @include difficulty-stars(1, $text-color);
      }
      &.medium {
        @include difficulty-stars(2, $text-color);
      }
      &.high {
        @include difficulty-stars(3, $text-color);
      }
    }
  }

}

.shuffle {
  $main-color: $white;
  @include size(3rem, 3rem);
  background: none;
  color: $main-color;
  border: 0.2rem solid $main-color;
  padding: 0;

  &:hover {
    color: $side-color;
    border: 0.2rem solid $side-color;
  }

  path {
    fill: $side-color;
  }
}

#week {
  @include grid(1.5rem, repeat(7, 20rem), auto, flex-start, center, center);

  margin: 3rem;

  @include scroll(hidden, scroll);
}

.week-container {
  @include grid(1.5rem,100%, auto, center,center,center);
}

.container-small {
  $square: 20rem;
  @include grid(1.5rem, $square, $square, center, center, center);

  img {
    @include size(100%, 100%);
    border-radius: 0 3rem 3rem 3rem;
  }

  h3 {
    color: $white;
    background: rgba($black, 0.5);
    width: 100%;
    padding: 1.5rem 0;
    text-align: center;
  }

  p {
    color: $white;
    background: rgba($black, 0.5);

    font-size: 1.6rem;
    width: 100%;
    padding: 1.5rem 0;

    display:none;
  }

  img, p, h3 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  &:hover {
    h3 { display: none; }
    p { display: block; }
  }

}

@include breakpoint("tablet") {
  #day {
    grid-template-columns: repeat(2, 30rem);
  }

  .container {
    grid-template-rows: repeat(6, 6rem);
    
    div {
      grid-row: 4/6;
      padding: 5rem 2.5rem 0;
    }
  }
}

@include breakpoint("desktop-xl") {
  #day {
    grid-template-columns: repeat(2, 42rem);
  }

  .container {
    grid-template-rows: repeat(6, 7rem);
    
    div {
      grid-template-columns: 30rem 3rem;
      grid-row: 5/6;
      padding: 1.5rem;
    }
  }
}

@include breakpoint("desktop-xxl") {
  #week {
    justify-content: center;
  }
}
