@use "src/variables" as *;
$accent-color: $accent-color;

.form-steps-container {
  @include flex(row, nowrap, center, space-between, center);
}

.step-bubble {
  padding: 2rem;
  border: .3rem solid $accent-color;
  width: 1.2rem;
  height: 1.2rem;

  @include flex(row, nowrap, center, center, center);

  border-radius: 50%;
  color: $accent-color;

  cursor: pointer;
  user-select: none;
}

.step-divider {
  height: 2px;
  background: $accent-color;
  flex: 1;
  margin: 0px 1rem;
}

.step-current, .step-complete {
  background: $accent-color;
  color: $white;
}

.step-incomplete {
  cursor: not-allowed;
  pointer-events: none;
}
