@use "src/variables" as *;

.form-steps-container {
  // números de paso del wizard!!
  display: flex;
  align-items: center;
  margin: 2.5rem auto;
  width: 70vw;
}

.step-bubble {
  padding: 2rem;
  border: .1rem solid $accent-color;
  @include size(1.2rem, 1.2rem);

  @include flex(row, nowrap, center, center, center);

  border-radius: 2.4rem;
  color: $accent-color;

  cursor: pointer;
  user-select: none;
}

.step-divider {
  height: .1rem;
  background: $accent-color;
  flex: 1; //the fuck is this.
  margin: 0 .5rem;
}

.step-current, .step-complete {
  background: $accent-color;
  color: $white;
}

.step-incomplete {
  cursor: not-allowed;
  pointer-events: none;
}
