@use 'src/variables' as *;

nav {
  /* position on parent grid*/
  grid-row: 3 / 4;

  background: $nav-bg;
  color: $nav-color;
  border-radius: 5rem;

  // cuando esté el login hecho cambiar 3 columnas por 4 para el config:
  @include grid(0, repeat(3, 3.7rem), auto, space-around, center, center);

  text-align: center;
  padding: 1rem;

  .hiddenOnPhone { display: none; }

  a {
    color: $nav-color;
    &:hover {
      color: $nav-color;
    }
  }

  position: fixed;
  bottom: 1rem;
  left: 0;
  width: 100vw;
}

@include breakpoint("tablet") {
  nav {
    left: calc(50% - calc(61.4rem / 2));
    width: 61.4rem;
  }
}

@include breakpoint("desktop") {
  nav {
    grid-template-columns: repeat(3, auto);
    position: relative;
    left: 0;
    background: transparent;
    width: 100%;
    border-radius: 0;
    border-bottom: .5rem solid $accent-color;
    padding: 2.5rem;

    justify-content: space-evenly;

    a {
      color: $black;
      text-transform: uppercase;
      font-weight: bold;
      border-bottom: .5rem $white solid;

      &:hover {
        color: $accent-color;
        border-bottom: .5rem $side-color solid;
      }
    }
    
    svg { display: none; }

    .hiddenOnPhone { 
      display: inline-block; 
      
    }
  }
}
