@use 'src/variables' as *;

nav {
  /* position on parent grid*/
  grid-row: 3 / 4;

  background: $side-color;
  color: $white;
  border-radius: 5rem;

  // cuando esté el login hecho cambiar 3 columnas por 4 para el config:
  @include grid-size(3, 5rem, 1, auto, 0);
  justify-content: space-around;

  text-align: center;
  padding: 1rem;

  div { @include flex(column, nowrap, center, center, center); }

  a { 
    color: $white; 
    &:hover {
      color: $white;
    }
  }

  /* position */
  //por una parte me gusta que este fija porque asi es mas facil navegar, 
  //por la otra me da por culo bastante
  //hmm.
  position: fixed;
  bottom: 1.5rem;
  left: 0;
  width: 100vw;
}

@include breakpoint('tablet') {
  nav {
    left: calc(50% - calc(61.4rem / 2));
    width: 61.4rem;
  }
}
