@use 'src/variables' as *;

nav {
  /* position on parent grid*/
  grid-row: 3 / 4;

  background: $side-color;
  color: $white;
  border-radius: 5rem;

  // cuando esté el login hecho cambiar 3 columnas por 4 para el config:
  @include grid(0, repeat(3, 3.7rem), auto, space-around, center, unset);
  align-content: space-around;
  
  text-align: center;
  padding: 1rem;

  div { @include flex(column, nowrap, center, center, center); }

  a { 
    color: $nav-color; 
    &:hover {
      color: $nav-color;
    }
  }

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}

@include breakpoint('tablet') {
  nav {
    left: calc(50% - calc(61.4rem / 2));
    width: 61.4rem;
  }
}

@include breakpoint("desktop") {
  nav {
    grid-template-columns: 3.7rem;

    top: 0;
    left: 0;
    width: 12vw;
    height: 100%;

    border-radius: 0;
  }
}