<div id="parallax" class="hero"></div>
<h1>Lista de recetas</h1>

<div class="filters">
  <!-- USE ME TO OPEN FILTER AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA -->
  <button (click)="filterShowHide()" class="red-bg"> {{show}} filtros </button>

  <form *ngIf="!filterVisibility" [formGroup]="form" (ngSubmit)="submit()">
  <!-- <form [formGroup]="form" (ngSubmit)="submit()"> -->
    <!-- ^ this line is for testing purposes  -->
    <div *ngFor="let category of allRecipes; let j = index">
      <input type="checkbox" [value]="type[j]" (change)="onCheckboxChange($event)" /> 
        {{type[j]}}
    </div>
    <button class="orange-bg" type="submit" [disabled]="!form.valid">Filtrar</button>
  </form>
  <button (click)="showFilterEmpty()" >Restaurar filtros</button>
</div>

<!-- filtered recipes -->
<section *ngIf="allRecipes">
  <div *ngFor="let category of allRecipes, let i = index">
    <div class="recipes-grid" *ngIf="foods.includes(type[i])">
      <h2>{{type[i]}}</h2>
      <article>
        <div id="recipe-container" (click)="showDetail(recipe.id)" *ngFor="let recipe of category">
          <img src="{{recipe.image}}" alt="">
          <h3 class="bold">{{recipe.name}}</h3>
        </div>
      </article>
    </div>
  </div>
</section>

<!-- no filter -->
<section *ngIf="filterEmpty">
  <div class="recipes-grid" *ngFor="let category of allRecipes, let i = index">
    <h2>{{type[i]}}</h2>
    <article>
      <div id="recipe-container" (click)="showDetail(recipe.id)" *ngFor="let recipe of category">
        <img src="{{recipe.image}}" alt="">
        <h3 class="bold">{{recipe.name}}</h3>
      </div>
    </article>
  </div>
</section>