@use "src/variables" as *;

$image: 6rem;

button { 
  margin: 1rem;
  align-self: center;
  padding: 1rem 2rem;
  
  font-weight: 600;
  border-radius: 2.5rem;

  &:disabled {
    background: rgba($light-gray, .2);
    color: $medium-gray;
  }
}

article {
  @include grid(0);
  grid-template-columns: auto;
  grid-auto-rows: 10rem;
  height: 45vh;
  @include scroll(scroll, hidden);
}

img {
  @include size($image, $image);
  object-fit: cover;
  border-radius: 3.2rem;
}

#recipe-container {
  &.original {
    @include grid(0 1.5rem);
    grid-template-columns: repeat(3, $image);
    grid-template-rows: 5rem minmax(2.5rem, 3.7rem) 2rem minmax(2.5rem, 3.7rem);
    align-items: center;
    justify-content: center;

    img { grid-row: 1 / 5;}
    h3 { grid-row: 1 / 2; grid-column: 2 / 4; }
    #mins { grid-column: 2 / 3; grid-row: 2 / 3;}
    .diff  { grid-column: 3 / 4; grid-row: 2 / 3;}
    #missing { grid-column: 2 / 4; grid-row: 3 / 4;}
    #ingredients { grid-column: 2 / 4; grid-row: 4 / 5;}
  }

  &.changed {
    @include grid(0 1.5rem);
    grid-template-columns: $image 25rem;
    grid-template-rows: $image;
    align-items: center;
    justify-content: center;
  }
}

form {
  @include grid(0.5rem);
  grid-template-columns: repeat(3, auto);
  grid-auto-rows: auto;
  align-items: center;

  button {
    grid-row: 5 / 6;
    grid-column: 2 / 3;
  }

  input[type="checkbox"], span {
    cursor: pointer;
  }

  input[type="checkbox"] {
    /* what the shit works here???*/
    color: red; //not working
  }

}

.checkbox-svg {
  fill: white;
  stroke: $side-color;
}

:checked {
  .checkbox-svg { fill: $side-color; }
}

@include breakpoint("tablet") {
  article { 
    grid-template-columns: repeat(2, 50%);
    justify-content: center;
    height: 65vh;
  }
}

@include breakpoint("desktop-xxl") {
  article { 
    grid-template-columns: repeat(3, 25%);
    
  }
}
