@use "src/variables" as *;

h1, .hero { 
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  align-self: center;

  color: $white;
}

h2 { border-bottom: 1px dashed $side-color; }

#parallax {
  background-image: url("https://d36fw6y2wq3bat.cloudfront.net/assets/images/cache/recipes/falafels-de-batata/900/falafels-de-batata.jpg");
  height: 33vh;
  width: 100vw;

  margin: 25px 0;

  /* parallax effect values: */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

$image: 6rem;

.filters { text-align: center; }

button { 
  margin: 1rem;
  padding: 1rem 2rem;
  
  font-weight: 600;
  border-radius: 2.5rem;

  &:disabled {
    background: rgba($light-gray, .2);
    color: $medium-gray;
  }
}

article {
  @include grid(1rem);
  grid-template-columns: auto;
  grid-auto-rows: 10rem;
  height: 33vh;
  @include scroll(scroll, hidden);
}

img {
  @include size($image, $image);
  object-fit: cover;
  border-radius: 1rem;
}

#recipe-container {
  @include grid(0);
  grid-template-columns: $image auto;
  grid-template-rows: $image;
  align-items: center;
  justify-content: flex-start;
}

form {
  @include grid(0.5rem);
  grid-template-columns: repeat(3, 32vw);
  grid-auto-rows: 2.5rem;
  justify-content: center;
  justify-items: flex-start;
  align-items: center;

  button {
    grid-row: 5 / 6;
    grid-column: 2 / 3;
    align-self: center;
  }

  input[type="checkbox"], span {
    cursor: pointer;
  }

  input[type="checkbox"] {
    /* what the shit works here???*/
    color: red; //not working
  }

}

.checkbox-svg {
  fill: white;
  stroke: $side-color;
}

:checked {
  .checkbox-svg { fill: $side-color; }
}

@include breakpoint("tablet") {
  article { 
    grid-template-columns: repeat(2, 40vw);
    justify-content: center;
    height: 65vh;
  }
}

@include breakpoint("desktop") {
  #parallax {
    border-radius: .5rem;
    background-image: url("https://d36fw6y2wq3bat.cloudfront.net/assets/images/cache/recipes/crema-de-calabaza-y-espinacas/900/crema-de-calabaza-y-espinacas.jpg");
    height: 50vh;
    width: 100%;
  }

  .filters { 
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    position: sticky;
    top: 0;
  }

  form {
    @include grid(0.5rem);
    grid-template-columns: auto auto;
    grid-auto-rows: auto;
    align-items: center;
    justify-items: flex-start;

    button {
      grid-row: 7 / 8;
      grid-column: 1 / 3;
      align-self: center;
    }
  }

  #recipe-container {
    @include grid(0 1.5rem);
    grid-template-columns: $image auto;
    grid-template-rows: 8rem;
    align-items: center;
    justify-content: center;
  }

  section {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    @include scroll(scroll, hidden);

    .recipes-grid {
      @include grid(2.5rem);
      grid-template-columns: 74vw;
      grid-auto-rows: 5rem 20rem;
      justify-items: flex-start;
    }

    // height: 42vh;
    width: 72vw;
  }

  article { 
    grid-template-columns: repeat(5, 30rem);
    grid-auto-rows: 8rem;
    justify-items: flex-start;
    justify-content: flex-start;

    @include scroll(scroll, scroll);
    height: 18rem;
    width: 70vw;
  }
}