@use "src/variables" as *;

$image-min: 11.5rem;
$image-max: 14.4rem;
$image: $image-min;

button { 
  margin: 1rem;
  align-self: center;
  padding: 1rem 2rem;
  
  font-weight: 600;
  border-radius: 2.5rem;

  &:disabled {
    background: rgba($light-gray, .2);
    color: $medium-gray;
  }
}

article {
  @include grid(0);
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(3, auto);

  /* scroll on phone*/
  height: 42vh;
  @include scroll(scroll, hidden);
}

img {
  @include size($image, $image);
  object-fit: cover;
  border-radius: 3.2rem;
}

#recipe-container {
  @include grid(0 1.5rem);
  grid-template-columns: repeat(3, $image);
  grid-template-rows: 5rem minmax(2.5rem, 3.7rem) 2rem minmax(2.5rem, 3.7rem);
  align-items: center;
  justify-content: center;

  margin: .8rem;

  img { grid-row: 1 / 5;}
  h3 { grid-row: 1 / 2; grid-column: 2 / 4; }
  #mins { grid-column: 2 / 3; grid-row: 2 / 3;}
  .diff  { grid-column: 3 / 4; grid-row: 2 / 3;}
  #missing { grid-column: 2 / 4; grid-row: 3 / 4;}
  #ingredients { grid-column: 2 / 4; grid-row: 4 / 5;}
}

form {
  @include grid(0.5rem);
  grid-template-columns: repeat(3, auto);
  grid-auto-rows: auto;
  align-items: center;

  button {
    grid-row: 5 / 6;
    grid-column: 2 / 3;
  }

  input[type="checkbox"], span {
    cursor: pointer;
  }

  input[type="checkbox"] {
    /* what the shit works here???*/
    color: red; //not working
  }

}

.checkbox-svg {
  fill: white;
  stroke: $orange;
}

:checked {
  .checkbox-svg { fill: $orange; }
}

@include breakpoint("desktop") {
  article { 
    grid-template-columns: repeat(2, auto);
    height: 60vh;
    @include scroll(hidden, hidden);
  }
}

@include breakpoint("desktop-xxl") {
  article { grid-template-columns: repeat(3, auto); }
}
