@use "./variables" as *;

html { font-size: 10px; }
* { 
    box-sizing: border-box;
    font-family: $font;
    font-size: 1.6rem;
    font-weight: 300;
}

main {
    @include grid-size(1, 95vw, 2, auto, 2.5rem);
    justify-content: center;

    &:last-child {
        margin-bottom: 5rem;
    }
}

.red-bg {
    background: $red;
    color: $white;

    &:active { 
        color: $white;
        background: $orange; 
    }
}

h2, h3 { 
    font-weight: 600;
    margin: 1.6rem;
}

h1, h2 { 
    color: $red;
    text-align: center;
}

h1 { font-size: 3.5rem; }
h2 { font-size: 2.8rem; }

h3 { 
    color: $black;
    text-transform: uppercase;
    font-size: 2rem;
}

p { margin: .8rem 0; }

a { text-decoration: none; }

button { 
    font-family: $font;
    font-size: 1.6rem;
    line-height: 1.6rem;
    border: none; 
}

.diff {
    &.low { @include difficulty-stars(1); }
    &.medium { @include difficulty-stars(2); }
    &.high { @include difficulty-stars(3); }
}

.text-center { text-align: center; }
.container-center { 
    align-self: center;
    justify-self: center;
}

/* media queries (styles) */
@include breakpoint('tablet') {
    main {
        @include grid-size(2, 45vw, 2, auto, .5rem);
        justify-content: center;

        h2 { grid-column: 1 / 3;}
    }
}