@use "variables" as *;

html { font-size: 10px; }
* { 
    box-sizing: border-box;
    font-family: $font;
    font-size: 1.6rem;
    font-weight: 300;
}

.red-bg {
    background: $accent-color;
    color: $white;

    &:active { 
        background: $side-color;
    }
}

.orange-bg {
    background: $side-color;
    color: $white;

    &:active { 
        background: $accent-color; 
    }
}

h1, h2, h3, h4 { 
    font-weight: 600;
    margin: .5rem;
}

h1, h2 { 
    color: $accent-color;
    text-align: center;
}

h3, h4 { color: $black; }

h1 { font-size: 4rem; }
h2 { font-size: 3.2rem; }
h3 { font-size: 2rem;}
h4 { font-size: 1.6rem;}

p { margin: .8rem 0; }

a { text-decoration: none; }

button { 
    font-family: $font;
    font-size: 1.6rem;
    line-height: 1.6rem;
    border: none; 
}

.diff {
    &.low { @include difficulty-stars(1); }
    &.medium { @include difficulty-stars(2); }
    &.high { @include difficulty-stars(3); }
}

.text-center { text-align: center; }
.container-center { 
    align-self: center;
    justify-self: center;
}

.bold { font-weight: 600; }
.uppercase { text-transform: uppercase; }
.border-round { border-radius: 5rem; }
.padding-1 { padding: 1rem; }

.flex {
  &.column { @include flex(column, nowrap, center, center, center); }
  &.row { @include flex(row, nowrap, center, center, center); }

  &.space-between { @include flex(row, nowrap, center, space-between, center); }
  &.space-around { @include flex(row, nowrap, center, space-around, center); }
  &.space-evenly { @include flex(row, nowrap, center, space-evenly, center); }
}

app-root {
    @include grid(1.5rem);
    grid-template-columns: 100vw;
    grid-template-rows: auto auto auto 8.1rem; 
    justify-content: center;
}

/* media queries (styles) */
@include breakpoint('tablet') {
    app-selected-recipe {
        @include grid-size(2, 45vw, 2, auto, .5rem);
        justify-content: center;

        h2 { grid-column: 1 / 3;}
    }
}

@include breakpoint("desktop") {
    app-root {
        @include grid(1.5rem);
        grid-template-columns: 50vw 50vw;
        grid-auto-rows: auto; 
        justify-content: center;
    }
}

@include breakpoint('desktop-xl') {
    app-selected-recipe {
        @include grid-size(2, 35vw, 2, auto, .5rem);
        justify-content: center;

        h2 { grid-column: 1 / 3;}
    }
}