@use "./variables" as *;

html { font-size: 10px; }
* { 
    box-sizing: border-box;
    font-family: $font;
    font-size: 1.6rem;
    font-weight: 300;
}

main {
    @include grid-size(1, 95vw, 2, auto, 1.5rem);
    justify-content: center;
}

.red-bg {
    background: $red;
    color: $white;

    &:active { 
        color: $white;
        background: $orange; 
    }
}

h1, h2, h3, h4 { 
    font-weight: 600;
    margin: .5rem;
}

h1, h2 { 
    color: $red;
    text-align: center;
}

h3, h4 { color: $black; }

h1 { font-size: 4rem; }
h2 { font-size: 3.2rem; }
h3 { font-size: 2rem;}
h4 { font-size: 1.6rem;}

p { margin: .8rem 0; }

a { text-decoration: none; }

button { 
    font-family: $font;
    font-size: 1.6rem;
    line-height: 1.6rem;
    border: none; 
}

.diff {
    &.low { @include difficulty-stars(1); }
    &.medium { @include difficulty-stars(2); }
    &.high { @include difficulty-stars(3); }
}

.text-center { text-align: center; }
.container-center { 
    align-self: center;
    justify-self: center;
}

.bold { font-weight: 600; }
.uppercase { text-transform: uppercase; }

.flex {
  &.column { @include flex(column, nowrap, center, center, center); }
  &.row { @include flex(row, nowrap, center, center, center); }

  &.space-between { @include flex(row, nowrap, center, space-between, center); }
  &.space-around { @include flex(row, nowrap, center, space-around, center); }
  &.space-evenly { @include flex(row, nowrap, center, space-evenly, center); }
}

/* media queries (styles) */
@include breakpoint('tablet') {
    main {
        @include grid-size(2, 45vw, 2, auto, .5rem);
        justify-content: center;

        h2 { grid-column: 1 / 3;}
    }
}