@use 'src/variables' as *;

section {
    &:first-of-type {
        img { width: 100%; }
    }
}

.recipe-head {
    @include grid-size(2, 45vw, 4, auto, 1.5rem);
    justify-content: center;

    img { grid-column: 1 / 3; grid-row: 1 / 2; }
    p { 
        grid-row: 2 / 3;
        &.mins { grid-column: 1 / 2; }
        &.diff { grid-row: 3 / 4; grid-column: 1 / 3; }
        &.descrip { grid-row: 4 / 5; grid-column: 1 / 3; }
    }
}

.portions {
    grid-row: 2 / 4;
    grid-column: 2 / 3;

    @include grid(0);

    align-content: center;
    justify-content: center;

    p { 
        font-weight: bold; 
        font-size: 1.4rem;
        text-align: center;
        margin-bottom: 1rem;
        
        grid-row: 1 / 2;
        grid-column: 1 / 4;
    }

    button, div { grid-row: 2 / 3; }
    
    button { 
        width: 2.5rem;
        height: 2.5rem;
        border: none;
    }
    
    #forward { border-radius: 0 1rem 1rem 0; }
    
    #backwards { border-radius: 1rem 0 0 1rem; }
    
    #numberOfPortions {
        width: 10rem;
        height: 2.5rem;
        background: $light-orange;

        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 2.5rem;
    }
    
}

.ingredient-container {
    @include grid-size(3, $ingredient-width, 3, $ingredient-width, .5rem);

    margin: 0 2rem;
    justify-content: center;
    text-align: center;
    

    .ingredient {
        width: $ingredient-width;
        height: $ingredient-width;
        border-radius: .5rem;
        font-weight: bold;

        background: $light-orange;
        color: $red;

        @include flex(column, nowrap, center, center, center);
    }

    img {
        width: 6.5rem;
        height: 6.5rem;
        border-radius: 1.5rem;

        justify-self: center;
        align-self: center;
    }
}

.cooking-steps {
    width: 90%;
    margin: 0 auto;
    p { 
        padding: 2.5rem;
        background: rgba($light-gray, .5);
        border-radius: 1.5rem 0 1.5rem 0;
        margin: 1.5rem 0.5rem;
    }
}

.favorite {
    margin: 1.5rem;
    @include flex(row, nowrap, center, center, center);

    button {
        width: 5rem;
        height: 5rem;
        border-radius: calc(5rem / 2);
        border: none;

        svg { width: calc(5rem / 2); }
    }

    span {
        font-weight: bold;
        font-size: 2rem;
        margin-left: 2rem;
    }

    &.false {
        button {
            background: $light-gray;
            
            &:active { background: $red; }
    
            svg {
                path {
                    stroke: $white;
                    stroke-width: 0.5rem;
                }
            }
        }
    
        span { color: #ddd; }
    }

    &.true {
        button {
            background: $red;
            &:active {  background: $orange; }
    
            svg { path { fill: $white; } }
        }
    
        span { color: $red; }
    }
}

@include breakpoint('mobile') {
    .ingredient-container {
        @include grid-size(4, $ingredient-width, 2, $ingredient-width, .5rem);
    }
}

@include breakpoint('tablet') {
    main {
        @include grid-size(2, 45vw, 2, auto, .5rem);
        justify-content: center;

        h2 { grid-column: 1 / 3;}

        section {
            &:first-of-type { grid-column: 1 / 3; }

            img { 
                height: 60rem;
                object-fit: cover;
            }

            &:last-of-type { margin-bottom: 12rem;}
        }
    }

    .recipe-head {
        width: 80%;
        margin: 0 auto;
    }

    .ingredient-container {
        @include grid-size(3, $ingredient-width, 3, $ingredient-width, .5rem);
    }
}

@include breakpoint('desktop') {
    .ingredient-container {
        @include grid-size(4, $ingredient-width, 3, $ingredient-width, .5rem);
    }
}

@include breakpoint('desktop-xl') {
    .ingredient-container {
        @include grid-size(5, $ingredient-width, 3, $ingredient-width, .5rem);
    }
}