<div id="parallax" class="hero"></div>
<h1>Lista de la compra</h1>

<section>
  <h3 class="text-center">Te falta:</h3>
  <div class="grid">
    <div *ngFor="let missingIngredient of missingIngredients">
      <div (click)="delIngredient(missingIngredient)" class="ingredient missing">
        <!-- {{missingIngredient.name.charAt(0).toUpperCase() + missingIngredient.name.slice(1)}} -->
        <img [src]="missingIngredient.image" [alt]="missingIngredient.name">
        <p>{{missingIngredient.name}}</p>
        <!-- <button (click)="delIngredient(missingIngredient)" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" >add</button> -->
      </div>
    </div>
  </div>


  <h3 class="text-center">Tienes:</h3>
  <div class="grid">
    <div *ngFor="let ownedIngredient of ownedIngredients">
      <div (click)="addIngredient(ownedIngredient)" class="ingredient owned">
        <img [src]="ownedIngredient.image" [alt]="ownedIngredient.name">
        <p>{{ownedIngredient.name}}</p>
      </div>
    </div>
  </div>
</section>