@use "src/variables" as *;

$ingredient-size: 10rem;

h1, .hero { 
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  align-self: center;

  color: $white;
}

#parallax {
  background-image: url("https://d36fw6y2wq3bat.cloudfront.net/assets/images/cache/recipes/pate-de-anacardos-y-ajo/900/pate-de-anacardos-y-ajo.jpg");
  height: 33vh;
  width: 100%;

  margin: 25px 0;

  /* parallax effect values: */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ingredient {
  @include size($ingredient-size, $ingredient-size);
  border-radius: 0.5rem;
  text-align: center;
  @include flex(column, nowrap, center, center, center);

  p {
    font-size: 1.2rem;
    font-weight: 600;
  }

  &.owned {
    background: $cadet-blue;
    color: $white;
  }

  &.missing {
    background: $red;
    color: $white;
  }

  p::first-letter {
    text-transform: capitalize;
  }

  img {
    @include size(5rem, 5rem);
    border-radius: 1rem;
  }
}

section {
  @include grid(0, auto, auto, center, center, flex-start);
  grid-auto-rows: auto;
  margin: 0 auto;

  h3 { margin: 1.5rem; }

  .grid {
    @include grid(1.5rem, repeat(3, $ingredient-size), $ingredient-size, center, center, center);
    grid-auto-rows: $ingredient-size;
  }
}

@include breakpoint("tablet") {
  section {
    grid-template-columns: repeat(2, 43vw);
    justify-content: center;

    h3 {
      grid-row: 1 / 2;
    }

    .grid {
      grid-template-columns: repeat(3, $ingredient-size);
    }
  }
}

@include breakpoint("desktop") {
  section {
    .grid {
      height: 80vh;
      @include scroll(scroll, hidden);
      grid-template-columns: repeat(3, $ingredient-size);
    }
  }

  #parallax {
    border-radius: .5rem;
    background-image: url("https://d36fw6y2wq3bat.cloudfront.net/assets/images/cache/recipes/pollo-con-pimientos-con-salsa-de-tomate/900/pollo-con-pimientos-con-salsa-de-tomate.jpg");
    height: 50vh;
    width: 100%;
  }
}

@include breakpoint("desktop-xl") {
  section {
    .grid {
      grid-template-columns: repeat(4, $ingredient-size);
    }
  }
}
